body{
    background-color:cornsilk
}
.person_info{
    width: 800px;
    height:150px;
}
.person_image{
    float:left;
    width: 100px;
    height: 100px;
}
.nav{
    font-family:cursive;
  
}
 .username{
    font-size:20px;
    font-family:cursive;
    padding-left: 100px;
    padding-right: 100px;
}

h1{
    font-family:cursive;
    background-color:black;
    color:cornsilk;
    height:100px;
    line-height: 100px;
    text-align:center
}
.day-box{
  background-color:#DCE3FF;
  width: 1000px;
  height:150px;
}
.day-box.PREP div{
  float:left;
  padding-right: 10px;
  padding-bottom: 10px;
 
}

.reading-box{
    width: 450px;
       
}
.day{
    width:150px;
}
.day-box.CURRENT div{
  float:left;
  padding-right: 10px;
  padding-bottom: 10px;
}
.day-box.COMPLETED div{
  float:left;
  padding-right: 10px;
  padding-bottom: 10px;
}
.account_form{
 width: 250px;
}
.account_form div{
  padding-bottom: 20px;
  padding-top: 20px;
}
.account_form label{
  width: 150px;

}
.account_form input{
  width: 250px;
  padding:10px;
}
